PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE applications
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      user_id INTEGER,
                      country TEXT,
                      university TEXT,
                      student_name TEXT,
                      student_email TEXT,
                      student_phone TEXT,
                      program_level TEXT,
                      preferred_program TEXT,
                      message TEXT,
                      application_date TIMESTAMP,
                      status TEXT DEFAULT 'new');
INSERT INTO applications VALUES(2,NULL,'Malaysia','Universiti Putra Malaysia (UPM)','Khadija Jafari','khadijajafari17@gmail.com','015578367153','Undergraduate','civil engineering ','I NEED THIS MAJOR','2026-03-24 23:36:32','new');
INSERT INTO applications VALUES(3,NULL,'Malaysia','Universiti Putra Malaysia (UPM)','Khadija Jafari','khadijajafari17@gmail.com','015578367153','Undergraduate','civil engineering ','I NEED THIS MAJOR','2026-03-24 23:36:36','new');
INSERT INTO applications VALUES(4,NULL,'Malaysia','Universiti Putra Malaysia (UPM)','Khadija Jafari','khadijajafari17@gmail.com','015578367153','Undergraduate','civil engineering ','I NEED THIS MAJOR','2026-03-24 23:36:40','new');
CREATE TABLE users
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      full_name TEXT NOT NULL,
                      email TEXT UNIQUE NOT NULL,
                      password TEXT NOT NULL,
                      phone TEXT,
                      country TEXT,
                      education_level TEXT,
                      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                      last_login TIMESTAMP, reset_token TEXT, reset_expiry TEXT);
INSERT INTO users VALUES(1,'Khadija Jafari','khadijajafari17@gmail.com','scrypt:32768:8:1$fofJ8OWjuiAAFeVr$5cf86095c597a3191512ae6b6590e06180bd894c1352b7379a1d32519dcd518dc0d263a9756e35a39158482a11a779ba4e0bc9c22a0a12a3810e2b3114b68f87','15578367153',NULL,'High School','2026-04-16 21:22:14',NULL,NULL,NULL);
CREATE TABLE saved_universities
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      user_id INTEGER,
                      university_id INTEGER,
                      country TEXT,
                      university_name TEXT,
                      saved_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                      notes TEXT,
                      FOREIGN KEY (user_id) REFERENCES users (id));
CREATE TABLE blog_posts
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      title TEXT NOT NULL,
                      slug TEXT UNIQUE,
                      category TEXT,
                      author_id INTEGER,
                      author_name TEXT,
                      date TEXT,
                      read_time TEXT,
                      views INTEGER DEFAULT 0,
                      likes INTEGER DEFAULT 0,
                      image TEXT,
                      excerpt TEXT,
                      content TEXT,
                      published BOOLEAN DEFAULT 1,
                      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE comments
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      post_id INTEGER,
                      user_id INTEGER,
                      user_name TEXT,
                      user_email TEXT,
                      comment TEXT,
                      likes INTEGER DEFAULT 0,
                      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                      FOREIGN KEY (post_id) REFERENCES blog_posts (id),
                      FOREIGN KEY (user_id) REFERENCES users (id));
CREATE TABLE bookmarks
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      user_id INTEGER,
                      post_id INTEGER,
                      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                      UNIQUE(user_id, post_id),
                      FOREIGN KEY (user_id) REFERENCES users (id),
                      FOREIGN KEY (post_id) REFERENCES blog_posts (id));
CREATE TABLE authors
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      name TEXT UNIQUE,
                      bio TEXT,
                      avatar TEXT,
                      role TEXT,
                      articles_count INTEGER DEFAULT 0,
                      followers INTEGER DEFAULT 0,
                      joined_date TEXT,
                      social_facebook TEXT,
                      social_twitter TEXT,
                      social_linkedin TEXT);
CREATE TABLE author_followers
                     (id INTEGER PRIMARY KEY AUTOINCREMENT,
                      user_id INTEGER,
                      author_id INTEGER,
                      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                      UNIQUE(user_id, author_id),
                      FOREIGN KEY (user_id) REFERENCES users (id),
                      FOREIGN KEY (author_id) REFERENCES authors (id));
CREATE TABLE consultations
                         (id INTEGER PRIMARY KEY AUTOINCREMENT,
                          name TEXT,
                          email TEXT,
                          phone TEXT,
                          country TEXT,
                          preferred_date TEXT,
                          message TEXT,
                          status TEXT DEFAULT 'pending',
                          created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
INSERT INTO consultations VALUES(1,'Khadija Jafari','khadijajafari17@gmail.com','+4315578367153','China','2026-04-30','I WANT BEST UNIVERSITY FOR AEROSPACE ENGINEERING ','pending','2026-04-16 14:20:52');
INSERT INTO consultations VALUES(2,'Khadija Jafari','khadijajafari17@gmail.com','+4315578367153','China','2026-04-30','I WANT BEST UNIVERSITY FOR AEROSPACE ENGINEERING ','pending','2026-04-16 14:20:54');
INSERT INTO consultations VALUES(3,'Khadija Jafari','khadijajafari17@gmail.com','+4315578367153','China','2026-04-30','I WANT BEST UNIVERSITY FOR AEROSPACE ENGINEERING ','pending','2026-04-16 14:20:56');
INSERT INTO sqlite_sequence VALUES('blog_posts',30);
INSERT INTO sqlite_sequence VALUES('applications',35);
INSERT INTO sqlite_sequence VALUES('consultations',27);
COMMIT;
